@model OfficeBoilerProject.PersonAppService.Dto.PersonDtoGetAll

@{
    ViewBag.Title = "Person";
    ViewBag.ActiveMenu = "Person";
}

<h2>All Persons</h2>
<hr />

@foreach (var person in Model.Persons)
{
    <h4>@person.FirstName @person.LastName</h4>
    @Html.ActionLink("Details", "Person", new { id = person.Id })
    @Html.ActionLink("Update", "Update", new {id = person.Id})
    @Html.ActionLink("Delete", "Delete", new { id = person.Id })
}